In [5]:
import numpy as np
import pandas as pd
df=pd.read_csv("annual enterprise survey.csv")
print(df)

       year industry_code_ANZSIC               industry_name_ANZSIC  \
0      2011                    A  Agriculture, Forestry and Fishing
1      2011                    A  Agriculture, Forestry and Fishing
2      2011                    A  Agriculture, Forestry and Fishing
3      2011                    A  Agriculture, Forestry and Fishing
4      2011                    A  Agriculture, Forestry and Fishing
...     ...                  ...                                ...
17023  2021                  all                     All Industries
17024  2021                  all                     All Industries
17025  2021                  all                     All Industries
17026  2021                  all                     All Industries
17027  2021                  all                     All Industries

        rme_size_grp                                         variable  \
0                a_0                                    Activity unit
1                a_0                           Rolling mean employees
2                a_0                          Salaries and wages paid
3                a_0  Sales, government funding, grants and subsidies
4                a_0                                     Total income
...              ...                                              ...
17023  j_Grand_Total                                     Total income
17024  j_Grand_Total                                Total expenditure
17025  j_Grand_Total                      Operating profit before tax
17026  j_Grand_Total                                     Total assets
17027  j_Grand_Total                            Fixed tangible assets

         value               unit
0        46134              COUNT
1            0              COUNT
2          279  DOLLARS(millions)
3         8187  DOLLARS(millions)
4         8866  DOLLARS(millions)
...        ...                ...
17023   757504  DOLLARS(millions)
17024   654404  DOLLARS(millions)
17025    85116  DOLLARS(millions)
17026  2512677  DOLLARS(millions)
17027   591351  DOLLARS(millions)

[17028 rows x 7 columns]

In [6]:
df.dropna(inplace=True)
df

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
...,...,...,...,...,...,...,...
17023,2021,all,All Industries,j_Grand_Total,Total income,757504,DOLLARS(millions)
17024,2021,all,All Industries,j_Grand_Total,Total expenditure,654404,DOLLARS(millions)
17025,2021,all,All Industries,j_Grand_Total,Operating profit before tax,85116,DOLLARS(millions)
17026,2021,all,All Industries,j_Grand_Total,Total assets,2512677,DOLLARS(millions)
17027,2021,all,All Industries,j_Grand_Total,Fixed tangible assets,591351,DOLLARS(millions)

In [7]:
df.dropna()

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
...,...,...,...,...,...,...,...
17023,2021,all,All Industries,j_Grand_Total,Total income,757504,DOLLARS(millions)
17024,2021,all,All Industries,j_Grand_Total,Total expenditure,654404,DOLLARS(millions)
17025,2021,all,All Industries,j_Grand_Total,Operating profit before tax,85116,DOLLARS(millions)
17026,2021,all,All Industries,j_Grand_Total,Total assets,2512677,DOLLARS(millions)
17027,2021,all,All Industries,j_Grand_Total,Fixed tangible assets,591351,DOLLARS(millions)

In [8]:
df.dropna(axis='columns')

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
...,...,...,...,...,...,...,...
17023,2021,all,All Industries,j_Grand_Total,Total income,757504,DOLLARS(millions)
17024,2021,all,All Industries,j_Grand_Total,Total expenditure,654404,DOLLARS(millions)
17025,2021,all,All Industries,j_Grand_Total,Operating profit before tax,85116,DOLLARS(millions)
17026,2021,all,All Industries,j_Grand_Total,Total assets,2512677,DOLLARS(millions)
17027,2021,all,All Industries,j_Grand_Total,Fixed tangible assets,591351,DOLLARS(millions)

In [9]:
df.dropna(thresh=3)

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
...,...,...,...,...,...,...,...
17023,2021,all,All Industries,j_Grand_Total,Total income,757504,DOLLARS(millions)
17024,2021,all,All Industries,j_Grand_Total,Total expenditure,654404,DOLLARS(millions)
17025,2021,all,All Industries,j_Grand_Total,Operating profit before tax,85116,DOLLARS(millions)
17026,2021,all,All Industries,j_Grand_Total,Total assets,2512677,DOLLARS(millions)
17027,2021,all,All Industries,j_Grand_Total,Fixed tangible assets,591351,DOLLARS(millions)

In [11]:
df.dropna(subset=['value'])

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
...,...,...,...,...,...,...,...
17023,2021,all,All Industries,j_Grand_Total,Total income,757504,DOLLARS(millions)
17024,2021,all,All Industries,j_Grand_Total,Total expenditure,654404,DOLLARS(millions)
17025,2021,all,All Industries,j_Grand_Total,Operating profit before tax,85116,DOLLARS(millions)
17026,2021,all,All Industries,j_Grand_Total,Total assets,2512677,DOLLARS(millions)
17027,2021,all,All Industries,j_Grand_Total,Fixed tangible assets,591351,DOLLARS(millions)

In [13]:
df.dropna(subset=['year'])

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
...,...,...,...,...,...,...,...
17023,2021,all,All Industries,j_Grand_Total,Total income,757504,DOLLARS(millions)
17024,2021,all,All Industries,j_Grand_Total,Total expenditure,654404,DOLLARS(millions)
17025,2021,all,All Industries,j_Grand_Total,Operating profit before tax,85116,DOLLARS(millions)
17026,2021,all,All Industries,j_Grand_Total,Total assets,2512677,DOLLARS(millions)
17027,2021,all,All Industries,j_Grand_Total,Fixed tangible assets,591351,DOLLARS(millions)