In [13]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("regional.csv")
df

,Series_reference,Period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,RNAA.SG01NAC34B0101AA1,2000.03,327.0,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
1,RNAA.SG01NAC34B0101AA1,2001.03,459.0,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
2,RNAA.SG01NAC34B0101AA1,2002.03,510.0,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
3,RNAA.SG01NAC34B0101AA1,2003.03,334.0,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
4,RNAA.SG01NAC34B0101AA1,2004.03,372.0,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9859,RNAA.SG09NAC34B0199,2017.03,56903.0,REVISED,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN
9860,RNAA.SG09NAC34B0199,2018.03,59839.0,REVISED,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN
9861,RNAA.SG09NAC34B0199,2019.03,61987.0,REVISED,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN
9862,RNAA.SG09NAC34B0199,2020.03,64262.0,REVISED,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN
9863,RNAA.SG09NAC34B0199,2021.03,63955.0,PROVISIONAL,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN

In [5]:
df.dtypes

Series_reference     object
Period              float64
Data_value          float64
STATUS               object
UNITS                object
MAGNTUDE              int64
Subject              object
Group                object
Series_title_1       object
Series_title_2       object
Series_title_3       object
Series_title_4      float64
Series_title_5      float64
dtype: object

In [8]:
df['Data_value'].astype('float')

0         327.0
1         459.0
2         510.0
3         334.0
4         372.0
         ...
9859    56903.0
9860    59839.0
9861    61987.0
9862    64262.0
9863    63955.0
Name: Data_value, Length: 9864, dtype: float64

In [9]:
df['Subject'].dtype

dtype('O')

In [10]:
df['Group'].dtype

dtype('O')

In [12]:
df['MAGNTUDE'].dtype

dtype('int64')

In [14]:
df['Period'].dtype

dtype('float64')

In [15]:
df['Data_value'].dtype

dtype('float64')

In [16]:
df['UNITS'].dtype

dtype('O')

In [17]:
df['Series_title_1'].dtype

dtype('O')

In [22]:
df['Series_title_5'].dtype

dtype('float64')

In [21]:
df['Series_title_4'].dtype

dtype('float64')

In [23]:
df['Series_title_3'].dtype

dtype('O')

In [24]:
df['Series_title_2'].dtype

dtype('O')

In [25]:
df['Series_reference'].dtype

dtype('O')

In [26]:
df=pd.read_csv("regional.csv",header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Series_reference,Period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
1,RNAA.SG01NAC34B0101AA1,2000.03,327,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
2,RNAA.SG01NAC34B0101AA1,2001.03,459,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
3,RNAA.SG01NAC34B0101AA1,2002.03,510,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
4,RNAA.SG01NAC34B0101AA1,2003.03,334,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9860,RNAA.SG09NAC34B0199,2017.03,56903,REVISED,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN
9861,RNAA.SG09NAC34B0199,2018.03,59839,REVISED,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN
9862,RNAA.SG09NAC34B0199,2019.03,61987,REVISED,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN
9863,RNAA.SG09NAC34B0199,2020.03,64262,REVISED,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN
9864,RNAA.SG09NAC34B0199,2021.03,63955,PROVISIONAL,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN

In [32]:
b=pd.read_csv("C:\\Users\\SATYA SRI\\Pictures\\regional.csv")
b

,Series_reference,Period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,RNAA.SG01NAC34B0101AA1,2000.03,327.0,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
1,RNAA.SG01NAC34B0101AA1,2001.03,459.0,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
2,RNAA.SG01NAC34B0101AA1,2002.03,510.0,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
3,RNAA.SG01NAC34B0101AA1,2003.03,334.0,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
4,RNAA.SG01NAC34B0101AA1,2004.03,372.0,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9859,RNAA.SG09NAC34B0199,2017.03,56903.0,REVISED,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN
9860,RNAA.SG09NAC34B0199,2018.03,59839.0,REVISED,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN
9861,RNAA.SG09NAC34B0199,2019.03,61987.0,REVISED,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN
9862,RNAA.SG09NAC34B0199,2020.03,64262.0,REVISED,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN
9863,RNAA.SG09NAC34B0199,2021.03,63955.0,PROVISIONAL,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN

In [33]:
b.to_excel("regional.csv.xlsx")
b

,Series_reference,Period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,RNAA.SG01NAC34B0101AA1,2000.03,327.0,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
1,RNAA.SG01NAC34B0101AA1,2001.03,459.0,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
2,RNAA.SG01NAC34B0101AA1,2002.03,510.0,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
3,RNAA.SG01NAC34B0101AA1,2003.03,334.0,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
4,RNAA.SG01NAC34B0101AA1,2004.03,372.0,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9859,RNAA.SG09NAC34B0199,2017.03,56903.0,REVISED,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN
9860,RNAA.SG09NAC34B0199,2018.03,59839.0,REVISED,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN
9861,RNAA.SG09NAC34B0199,2019.03,61987.0,REVISED,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN
9862,RNAA.SG09NAC34B0199,2020.03,64262.0,REVISED,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN
9863,RNAA.SG09NAC34B0199,2021.03,63955.0,PROVISIONAL,Dollars,0,Regional Gross Domestic Product - RNA,"Gross domestic product per person, by region",Gross Domestic Product - production measure,New Zealand,NaN,NaN,NaN

In [35]:
rows=len(df.axes[0])
print(rows)

9865

In [36]:
columns=len(df.axes[1])
print(columns)

13

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9865 entries, 0 to 9864
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       9865 non-null   object
 1   1       9865 non-null   object
 2   2       9613 non-null   object
 3   3       9865 non-null   object
 4   4       9865 non-null   object
 5   5       9865 non-null   object
 6   6       9865 non-null   object
 7   7       9865 non-null   object
 8   8       9865 non-null   object
 9   9       9865 non-null   object
 10  10      9469 non-null   object
 11  11      1 non-null      object
 12  12      1 non-null      object
dtypes: object(13)
memory usage: 1002.0+ KB

In [40]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Series_reference,Period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
1,RNAA.SG01NAC34B0101AA1,2000.03,327,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
2,RNAA.SG01NAC34B0101AA1,2001.03,459,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
3,RNAA.SG01NAC34B0101AA1,2002.03,510,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN
4,RNAA.SG01NAC34B0101AA1,2003.03,334,FINAL,Dollars,6,Regional Gross Domestic Product - RNA,"Gross domestic product, by region and industry",Gross Domestic Product - production measure,Northland,Agriculture,NaN,NaN

In [42]:
df.size

128245

In [43]:
df.shape

(9865, 13)

In [44]:
df.index

RangeIndex(start=0, stop=9865, step=1)

In [45]:
len(df.index)

9865

In [6]:
import pandas as pd
df.columns

Index(['Series_reference', 'Period', 'Data_value', 'STATUS', 'UNITS',
       'MAGNTUDE', 'Subject', 'Group', 'Series_title_1', 'Series_title_2',
       'Series_title_3', 'Series_title_4', 'Series_title_5'],
      dtype='object')